nav{
    background-color: rgb(182, 207, 240);
    display: flex;
    justify-content: center;
}
.link{
    margin-left: 20px;
    color: rgb(22, 20, 20);

}
.link:active{
    color: rgb(247, 136, 33);
}

